body {
  background-color: #20b2aa;
  font-family: Verdana, sans-serif;

}

/*Header Section*/

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  background-color: #48d1cc;
}

.navbar-brand {
  color: black !important;
}

.navSection a {
  color: black !important;
  text-decoration: underline;
}

.navSection a:hover {
  color: white !important;
}

 /*About Section*/

.about-me {
  margin-top: 50px;
  margin-bottom: 50px;
}

.about-me h2 {
  margin-bottom: 35px;
}

/*Experience Section*/

.experience {
  background-color: #00ced1;
  padding-top: 50px;
  padding-bottom: 50px;
}

.experience h2 {
  padding-bottom: 30px;
}

.why-code {
  padding-top: 50px;
  padding-bottom: 50px;
}

.why-code h2 {
  padding-bottom: 30px;
}
