body {
  background-color: #20b2aa;
  font-family: Verdana, sans-serif;
}

span {
  font-style: italic;
  color: #9966ff;
}

/*Header Section*/

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  background-color: #48d1cc;
}

.navbar-brand {
  color: black !important;
}

.navSection ul {
  float: right;
}

.navSection a {
  color: black !important;
  text-decoration: underline;
}

.navSection a:hover {
  color: white !important;
}

 /*About Section*/

.about-me {
  padding: 50px 15px 70px 15px;
}

.about-me h2 {
  padding-bottom: 15px;
}

.projects {
  list-style-position: inside;
  padding-left: 0;
}

.projects a {
  color: black;
}

/*Why Code Section*/

.why-code {
  background-color: #d3d3d3;
  padding: 40px;
}

.why-code h2 {
  padding-bottom: 30px;
}

/*Footer Section*/

.footer {
  background-color:#87cefa;
  padding: 40px;
}
